src/main/resources/calculator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://tempuri.org/"
    xmlns:tns="http://tempuri.org/"
    elementFormDefault="qualified">

    <!-- Import SOAP Envelope schema -->
    <xs:import 
        namespace="http://schemas.xmlsoap.org/soap/envelope/" 
        schemaLocation="soap-envelope.xsd" />

    <xs:element name="AddResponse" type="tns:AddResponseType"/>

    <xs:complexType name="AddResponseType">
        <xs:sequence>
            <xs:element name="AddResult" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
